.info__flag_italy {
    width: 120px;
    height: 120px;
    transform: rotate(-13deg);
    animation: show-up-italy 1s 3.8s forwards linear 1, rotate-circle-italy 10s 6s linear infinite;
}

@keyframes show-up-italy {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        padding-bottom: 145px;
    }
}

@keyframes rotate-circle-italy {
    100% {
        transform:rotate(347deg);
    }
}