.info__users-info {
    margin: 40px 0 0 0;
    display: flex;
    height: 38px;
}

@media screen and (min-width: 768px) {

    .info__users-info {
        width: 480px;
        justify-content: center;
    }

}