.header__signup-button {
    margin: 20px 0 0 0;
    padding: 0;
    width: 108px;
    height: 42px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    background-color: #ff8345;
}

@media screen and (min-width: 1400px) {

    .header__signup-button {
        margin: -10px 0 0 140px;
        padding: 0;
        width: 108px;
        height: 42px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        background-color: #48b774;
    }

}