.info__main-image {
    position: absolute;
    display: block;
    margin: 100px auto 0 auto;
    width: 320px;
    height: 557px;
    object-fit: cover;
    z-index: 1;
}

@media screen and (min-width: 768px) {

    .info__main-image {
        width: 480px;
    }

}

@media screen and (min-width: 1400px) {

    .info__main-image {
        position: absolute;
        bottom: 0;
        left: 720px;
        width: 400px;
    }
    
}